.login-wrap {
  position: relative;
  height: 100vh;
  background-color: var(--neutral700);
  grid-area: 1 / 1 / 2 / 3;
}

.login-wrap::before,
.login-wrap::after {
  position: absolute;
  content: '';
}

.login-wrap::before {
  width: 80vw;
  height: 80vh;
  border: 0.5rem solid var(--neutral900);
  border-bottom-color: transparent;
  border-right-color: transparent;
  left: 13vw;
  top: 13vh;
  border-radius: 0 30rem 0 30rem;
}

.login-wrap::after {
  width: 80vw;
  height: 75vh;
  border: 0.5rem solid var(--secondaryMain);
  border-top-color: transparent;
  border-left-color: transparent;
  right: 15vw;
  bottom: 10vh;
  border-radius: 0 30rem 30rem 45rem;
}

.login-form {
  position: relative;
  z-index: 1;
  gap: 3rem;
}

.login-input-section {
  gap: 1rem;
}

.login-input {
  width: 25rem;
  height: 4rem;
  font: 400 1.5rem/4rem var(--fontFamily);
  text-indent: 2rem;
  letter-spacing: 0.75rem;
  color: var(--secondaryMain);
  border-radius: 2rem;
  border: solid 0.25rem var(--secondaryMain);
  outline: transparent;
  background-color: transparent;
}

.login-input::placeholder {
  color: var(--secondaryMain);
  font-size: 1rem;
}

.login-input:focus {
  background-color: var(--neutral800);
  box-shadow: 0 0.5rem 1.5rem var(--fontColor);
}

.login-btn {
  border: 0.25rem solid var(--secondaryMain);
  background-color: transparent;
  height: 4rem;
  color: var(--secondaryMain);
  outline: none;
  border-radius: 2rem;
}

.login-btn.readyToSubmit {
  background: var(--secondaryMain);
  color: var(--neutral900);
  font-weight: 700;
}
