.sidebar {
  background: var(--neutral200);
  grid-area: sidebar;
}

.brandname.small {
  letter-spacing: 0.5rem;
}

.brandname.dark {
  color: var(--white);
}

.has-brandname {
  padding: 0.25rem 0.5rem;
  border-bottom: 0.25rem solid var(--white);
}

.nav-list {
  margin-top: 2rem;
  gap: 1rem;
}

.nav-link {
  display: block;
  text-align: center;
  padding: 0.5rem 0;
  transition: padding 500ms ease-in-out, text-align 500ms ease-in-out;
}
.nav-link:focus,
.nav-link:hover {
  padding: 0.5rem 0 0.5rem 2rem;
  transition: padding 500ms ease-in-out;
}
.nav-link.active {
  padding-right: 2rem;
  text-align: right;
  border-bottom: double 0.25rem var(--fontColor);
  transition: padding 500ms ease-in-out, text-align 500ms ease-in-out;
}

.btn-signOut {
  font-size: 1rem;
  margin-top: auto;
  padding: 1rem 0;
  background-blend-mode: multiply;
  color: var(--white);
  transition: color 300ms ease-in-out, adding 300ms ease-in-out;
}
.btn-signOut:focus,
.btn-signOut:hover {
  border-top: double 0.25rem var(--fontColor);
  color: var(--fontColor);
  text-align: right;
  padding: 1rem 1rem 1rem 0;
  transition: color 300ms, padding 300ms;
}
