.sidebar {
  background-color: rgb(var(--secondaryMain));
  grid-area: sidebar;
  gap: 2rem;
}

.sidebar .brandname {
  width: 12rem;
  background-color: rgb(var(--neutral200));
}

.nav-list {
  gap: 1rem;
}

.nav-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  font-size: 1.125rem;
  transition: all 500ms ease-in-out;
  z-index: 3;
}
.nav-link:focus,
.nav-link:hover {
  margin-left: 2.5rem;
  transition: margin-left 500ms ease-in-out;
}
.nav-list > li.active {
  position: relative;
}

.nav-list > li.active::before,
.nav-list > li.active::after {
  position: absolute;
  content: '';
  width: 60%;
  height: 100%;
  border-radius: 2rem 0 2rem 2rem;
}

.nav-list > li.active::before {
  top: 0;
  left: 20%;
  border: 3px solid rgb(var(--primeMain));
  z-index: 2;
}

.nav-list > li.active::after {
  top: 8%;
  left: 22.5%;
  background-color: rgb(var(--neutral200));
  z-index: 1;
}

.btn-signOut {
  height: 4rem;
  font-size: 1rem;
  margin: auto 4rem 1rem 4rem;
}
.btn-signOut:focus,
.btn-signOut:hover {
  border: 3px solid rgb(var(--neutral900));
  border-radius: 2rem;
  transition: all ease-in-out 200ms;
}
