.bugs-list {
  gap: 1.5rem;
}

.bug-item {
  position: relative;
  border: 3px solid rgba(var(--neutral900));
  border-radius: 3rem;
  color: rgb(var(--neutral900));
  min-width: 16rem;
  min-height: 15rem;
}

.bug-item:focus,
.bug-item:hover {
  border-color: rgb(var(--primeLight));
  background-color: rgb(var(--primeLight));
  color: rgb(var(--neutral200));
  transform: scale(1.05);
  transition: transform 500ms ease-in-out;
}

.bug-item-title {
  margin: 2rem;
  font-size: 1.2rem;
}

.bug-item-version,
.bug-item-time {
  margin: 0 2rem;
}

.bug-item-priority {
  position: absolute;
  top: -0.75rem;
  right: -0.5rem;
  display: inline-flex;
  align-items: center;
  height: 3.5rem;
  padding: 0 1rem;
  border-radius: 1.75rem 0 1.75rem 1.75rem;
  font-size: 0.9rem;
  color: rgb(var(--neutral200));
}
.bug-item-priority.low {
  color: rgb(var(--neutral900));
}

.bug-item-version::before {
  content: 'version: ';
}

.bug-item-time::before {
  content: 'reported on: ';
}
